<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="font/iconfont.css"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/caipin1.css"/>
		<style type="text/css">
			.content ul li .ckl{
				color: red;
			}
		</style>
	</head>
	<body class="body" ng-controller="Mc1">
		<!--头部开始-->
		<header>
			<div>
				<span class="header-left"><i class="iconfont icon-shousuo"></i></span>
				<input type="text" class="header-inp" placeholder="寻找菜品、店面" />
				<span class="header-right"><i class="iconfont icon-shousuohou "></i></span>
			</div>
		</header>
		
		<!--导航条-->
		<nav>
			<ul class="navtab">
				<li ng-click="all()" class="navtab1">全部</li>
				<li ng-click="tese()">特色菜</li>
				<li ng-click="tuijian()">店长推荐</li>
				<li ng-click="jingpin()">精品上市</li>
			</ul>
		</nav>
		
		<!--内容-->
		<div >
			<div class="content" ng-repeat="i in arr">
				<h2>{{i.id}}</h2>
				<div class="fish">
					<img ng-src="img/{{i.imag}}.jpg" />
					<div class="discripe">
						<p><span>单价：{{i.price}}</span></p>
						<p><span>VIP：{{i.VIP}}</span></p>
						<p><span>制作时间：{{i.time}}</span></p>
						<p><span>可获积分：{{i.jifen}}</span></p>
						<p><span>特点：{{i.tedian}}</span></p>
						<button>点菜</button>
					</div>
				</div>
				<ul class="changecolor" >
					<li class="ck"><i class="iconfont icon-dianzan"></i> <span>赞 <span class="liang">215</span></span></li>
					<li><i class="iconfont icon-pinglun"></i> <span>评论 <span class="liang">15</span></span></li>
					<li><i class="iconfont icon-zhuanfa"></i> <span>转发 </span></li>
				</ul>
			</div>
			<div class="qiehuan">
				<button ng-click="prev()" ng-hide="hid1">上一页</button>
				<button ng-click="next()" ng-hide="hid2">下一页</button>
			</div>
		</div>
		<!--底部-->
		<footer class="footer1">
			<ul>
				<a href="index.html"><li><i class="iconfont icon-shouye"></i></li></a>
				<li>菜品
					<div class="caipin-hid">
						<p ng-click="huoguo()">火锅</p>
						<p ng-click="difangcai()">地方菜</p>
						<p ng-click="xican()">西餐</p>
						<p ng-click="kuaican()">快餐</p>
					</div>
				</li>
				<li>订位
					<div class="caipin-hid">
						<p>我要订货</p>
						<p>会员中心</p>
					</div>
				</li>
				<li>VIP
					<div class="caipin-hid">
						<p class="beVip">我要成为VIP
							<div class="vip">
								<div class="vipTop">
									<img src="img/logo_03.jpg"/>
									<span class="yinc">x</span>
								</div>
								<div class="vipIn">
									<h3>会员登录</h3>
									<div class="vipIN1">
										<p class="zanghao">账号：<input type="text" class="zhanghao1" /></p>
										<p class="mima">密码：<input type="password" class="mima1"/></p>
										<p class="shenqing"><button class="denglu">登录</button><button class="zhuce">申请VIP</button></p>
									</div>
								</div>
							</div>
						</p>
						<p>会员兑换</p>
					</div>
				</li>
				<li class="diandan">点单
					<div class="caipin-hid">
						<p>我的订单</p>
					</div>
				</li>
			</ul>
		</footer>
		
	</body>
	<script src="js/jquery-1.11.3.js"></script>
	<script src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.js"></script>
	<script type="text/javascript" src="js/footer1.js"></script>
	<script type="text/javascript" src="js/caipin1.js"></script>
</html>
