<div   class="container">
		<table class="table table-bordered">
			<tr>
				<th>作者</th>
				<th>日期</th>
				<th>标题</th>
				<th>内容</th>
			</tr>
			<tr class="tr1" ng-repeat="list in arr">
				<td>{{list.zuozhe}}</td>
				<td>{{list.date}}</td>
				<td>{{list.title}}</td>
				<td>{{list.content}}</td>
			</tr>
		</table>
		<h2 ng-click="jiazai()" ng-hide="hide" class="btn btn-success btn-block">加载更多</h2>
		<h2  ng-show="hide" class="btn btn-warning btn-block">没有更多了</h2>
	</div>
