
div,img,a,html,body,p{margin: 0;padding: 0;}
img{display: block;}
.a1{height: 139px;}
.a2{width: 1000px;height: 139px;margin: 0 auto;background: url(../img/header.png) repeat-x;}
.a3 img{float: left;}
.a4{width: 560px;height: 120px;float: right;margin-right: 20px;margin-top: 5px;}
a{display: block;color: white;text-decoration: none;text-align: center;}
a:hover{text-decoration: underline;}
.a4 div{width: 70px;height: 120px;float: left;}
.a4 a{width: 70px;height: 30px;line-height: 40px;font-size: 12px;}
.a6{background: dimgray;opacity: 0.5;filter: alpha(opacity:50);}
.a7{height: 90px;}
.a8{width: 1000px;height: 90px;margin: 0 auto;background: black;}
.a8 img{float: left;}
.a8 p{height: 20px; float: right;font-size: 12px;color: white;}
.a9{width: 380px;height: 60px;float: right;margin-top: 18px;}
