img{display: block;}
.ul{width: 540px;height: 60px;list-style: none;float: right;}
.li{width: 90px;height: 60px;text-align: center;float: left;}
.li img{margin-top: 13px;}
.li a{width: 90px;height: 20px;line-height: 20px;}
a{display: block;color: black;text-decoration: none;font-size: 12px;}
.a1{display:inline-block;}
.a2{display: none;}
.li:hover .a1{display: none;}
li:hover .a2{display: inline-block;}
.li:hover{background: dimgray;}
.li:hover a{color: white;}
.a3{width: 100%;height: 34px;position: relative;background: black;position: relative;}
#m1{display: none;position: absolute;top: 35px;left: 1100px;}
.a3 a:hover #m1{display: block;}
#m2{display: none;position: absolute;top: 35px;left: 1190px;}
.a3 a:hover #m2{display: block;}
.a3 img{position: absolute;left: 0;top: 0;}
.a3 a{width: 90px;height: 34px;line-height: 34px;float: right;color: white;text-align: center;}
.a3 a:hover{font-size: 14px;text-decoration: underline;}
#a4{height: 3px;background: black;width: 100%;margin-top: 60px;}
.b1{height: 190px;}
.b2{width: 865px;height: 188px;margin: 0 auto;border: 1px gray solid;border-bottom: 0;}
.b2 div{float: left;}
.b3{width: 144px;height: 140px;border-right: 1px black dotted;margin-top: 20px;}
.b3 ul{width: 100px; margin: 0 auto;}
#b4{margin-left: 45px;}
.b3 ul a{margin-top: 10px;}
#b5,#b6{width: 270px;float: left;font-size: 14px;margin-left: 15px;}
#b5{margin-top: 60px;}
#b6{margin-top: 10px;}
.b1 span{color: red;font-size: 18px;}
.b7{height: 90px;}
.b8{width: 865px;height: 89px;border: 1px gray solid;margin: 0 auto;}
.b8 p{margin-left: 10px;margin-top: 10px;}
.b9{width: 360px;height: 50px;}
.b9 a{width: 90px;height: 50px;line-height: 50px;float: left;text-align: center;}
.b10{height: 79px;background: black;margin-top: 20px;border-top: 1px black solid;}
.b10 p{width: 865px;height: 20px;margin: 30px auto;}
.b10 span{color: white;font-size: 12px;}
.b10 a{float: right;color: white;}
