@media  screen and (min-width: 980px) {
				body{
					display: none;
				}
			}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: grey;
}
body{
	background: #f4f4f4;
}
.iconfont{
	font-size: 0.4rem;
}
/*头部样式*/
header div{
	line-height: 0.4rem;
	height: 0.4rem;
	margin-top: 0.2rem;
}
.header-left,.header-right{
	width: 15%;display: block;float: left;text-align: center;font-size: 0.4rem;color: red;
}
.header-inp{
	width: 66%;
	padding-left: 2%;
	height: 0.4rem;
	float: left;
	outline: none;
	display: block;
	border-radius: 0.1rem;
	border:2px red solid;
}

/*导航条*/
nav ul{
	width: 96%;
	height: 0.5rem;
	margin: 0.3rem auto 0;
}
nav ul li{
	float: left;
	width: 24.35%;
	list-style: none;
	height: 0.5rem;
	background: white;
	font-size: 0.2rem;
	color: darkgray;
	text-align: center;
	line-height: 0.5rem;
	border: 0.01rem lightgrey solid;
}
.navtab1{
	background: red;
	color: white;
}
/*内容*/
.content{
	width: 90%;
	border: 0.001rem lightslategrey solid;
	margin: 0.2rem auto 0;
	height: 4.1rem;
	background: #efefef;
}
.content h2{
	color: #65686f;
	font-weight: normal;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.3rem;
	margin-left: 0.6rem;
}
.fish{
	margin-left: 0.1rem;
	height: 2.93rem;
}
.fish img{
	float: left;
	width: 2.6rem;
	height: 2.1rem;
}
.discripe{
	float: left;
	margin-left: 0.4rem;
}
.discripe p{
	color: dimgrey;
	font-size: 0.17rem;
	margin-bottom: 0.1rem;
}
.discripe button{
	width: 2.5rem;
    height: 0.55rem;
    color: white;
    font-size: 0.3rem;
    float: left;
     margin-top: 0.1rem; 
    outline: none;
    border: none;
    border-radius: 0.15rem;
    background: orange;
}
.content ul{
	width: 98%;
	height: 0.5rem;
	margin: 0 auto;
}
.content ul li{
	font-size: 0.15rem;
	float: left;
	height: 0.6rem;
	width: 32.5%;
	line-height: 0.6rem;
	list-style: none;
	border: 0.01rem lightgray solid;
	background: white;
	text-align: center;
}
.content ul li i{
	color: lightgrey;
	font-size: 0.25rem;
}
.liang{
	color: orangered;
}
.qiehuan{
	width: 4rem;
	margin: 0.1rem auto 0;
	height: 0.8rem;
}
.qiehuan button{
	width: 1rem;
	border: none;
	outline: none;
	box-shadow: 0.01rem -0.01rem 0.05rem black ;
	height: 0.8rem;
	background: #c3c3c3;
	border-radius: 0.1rem;	
}
.qiehuan button:nth-child(1){
	float: left;
}
.qiehuan button:nth-child(2){
	float: right;
}


/*底部样式*/
.footer1 ul{
	position: fixed;
	z-index: 111;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 1rem;
	background: #e8e8e8;
}
.footer1 ul li{
	float: left;
	width: 19.7%;
	height: 1rem;
	font-size: 0.35rem;
	line-height: 1rem;
	text-align: center;
	color: grey;
	list-style: none;
	border-right: 0.005rem lightgrey solid;
	position: relative;
}
.footer1 ul .diandan{
	border-right:none;
}

.footer1 ul li i{
	font-size: 0.35rem;
}
.caipin-hid{
	border: 0.005rem lightgray solid;
	width: 100%;
	background: #f4f4f4;
	position: absolute;
	bottom: 1.2rem;
	left: 0;
	z-index: 999;
	display: none;
}
.caipin-hid11{
	border: none;	
}
.caipin-hid p{
	text-align: center;
	font-size: 0.25rem;
	line-height: 0.5rem;
}
.vip{
	width: 100%;
	height: 100%;
	background: #8d8d8d;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}
.footer1 .vipTop img{
	width: 40%;
	height: 1.2rem;
	float: left;
}
.vipTop span{
	margin-right: 0.3rem;
    font-size: 0.8rem;
	color: white;
	float: right;
}
.vipIn{
	margin-top: 4.3rem;
	color: white;
}
.vipIN1{
	background: lightgrey;
    width: 80%;
    height: 3rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.3rem;
}
.vipIN1 p{
	color: black;
	font-size: 0.3rem;
}
.vipIN1 input{
	height: 0.5rem;
	border: none;
	outline: none;
	display: inline-block;
}
.zanghao{
	margin-top: 0.6rem;
}
.mima{
	margin-top: 0.2rem;
}
.shenqing{
	width: 80%;
	margin: 0.3rem auto 0;
}
.shenqing button{
	width: 40%;
	border-radius: 0.1rem;
	display: block;
	float: left;
	color: white;
	outline: none;
	border: none;
	height: 0.6rem;
}
.shenqing button:nth-child(1){
	background: #FDB151;
}
.shenqing button:nth-child(2){
	background: #B91200;
	float: right;
}
.content ul li .ckl{
	color: red;
}
.jifenhuiyuan{
	color: grey;
}
