* {
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 980px) {
	body {
		display: none;
	}
}

body {
	background: #f4f4f4;
}

header {
	background: white;
	height: 6.7rem;
	border: 0.01rem gray solid;
}

header img {
	width: 94%;
	display: block;
	margin: 0.1rem auto 0;
}

.title {
	color: grey;
	margin-top: 0.05rem;
	font-size: 0.15rem;
	padding-left: 0.2rem;
}

.price {
	height: 0.7rem;
	border-bottom: 0.01rem lightgrey dotted;
}

.price span {
	float: left;
	font-size: 0.35rem;
	color: orange;
	font-weight: bold;
}

.price del {
	font-size: 0.2rem;
	color: grey;
	font-weight: 100;
}

header div {
	width: 94%;
	margin: 0.2rem auto 0;
}

.price button {
	width: 1.5rem;
	height: 0.5rem;
	border-radius: 0.1rem;
	background: orange;
	color: white;
	float: right;
	outline: none;
	border: none;
}

.tishi {
	height: 0.5rem;
	line-height: 0.5rem;
}

.tishi span:nth-child(1) {
	float: left;
	font-size: 0.15rem;
}

.tishi span:nth-child(2) {
	float: right;
	font-size: 0.15rem;
}

.xiangqing {
	height: 0.6rem;
	line-height: 0.6rem;
	border-top: 0.01rem grey solid;
}

.xiangqing a {
	margin-right: 0.2rem;
	text-decoration: none;
	color: orange;
	font-size: 0.3rem;
	float: right;
}

.content1 {
	margin-top: 0.2rem;
	border: 0.01rem grey solid;
}

.content1-one {
	height: 2.7rem;
	width: 94%;
	margin: 0 auto;
}

.content1-one>p {
	margin-top: 0.15rem;
	font-size: 0.25rem;
}

.jieshao {
	margin-top: 0.15rem;
}

.jieshao1 {
	float: left;
}

.jieshao>img {
	width: 2.7rem;
	height: 2rem;
	float: left;
}

.jieshao1 p {
	margin-left: 0.3rem;
	margin-top: 0.1rem;
	font-size: 0.25rem;
}

.jieshao1 p span {
	font-weight: bold;
	font-size: 0.35rem;
	color: orange;
}

.jieshao1 p del {
	font-size: ;
}

.jieshao1 p:nth-child(2),
.jieshao1 p:nth-child(3) {
	color: lightslategray;
}

.jieshao1 p button {
	width: 2rem;
	height: 0.5rem;
	background: orange;
	color: white;
	border: none;
	outline: none;
	font-weight: bold;
	border-radius: 0.1rem;
	display: block;
}