<style type="text/css">
	.xiugaimima h2{
		margin-top: 0.25rem;
		font-size: 0.35rem;
	}
	.xiugaimima h2 span:nth-child(1){
		margin-left: 0.2rem;
	}
	.xiugaimima h2 span:nth-child(2){
		margin-left: 0.4rem;
	}
	.cont{
		margin-top: 0.3rem;
		
		background: white;
		padding: 0.15rem;
	}
	.cont p{
		height: 0.4rem;
		line-height: 0.4rem;
		font-size: 0.25rem;
		margin-bottom: 0.1rem;
	}
	.cont input{
		background: lightgray;
		display: block;
		width: 100%;
		border: none;
		outline: none;
		height: 0.5rem;
		margin-bottom: 0.1rem;
	}
	.tj{
		background: orange;
	}
	.cont .changetrue{
		color: red;
		display: none;
	}
</style>
<div class="xiugaimima" ng-controller="xiugaimm">
	<h2><span ng-click="huihyzx()">< </span> <span >修改密码</span></h2>
	<div class="cont">
		<p>当前密码</p>
		<input type="text" class="nowpassword" />
		<p>新密码</p>
		<input type="text" class="newpassword"/>
		<p>确认新密码</p>
		<input type="password" maxlength="32" class="qrnewpassword" />
		<p>密码长度最少6个字符，最多32个字符</p>
		<p class="changetrue">密码修改成功！</p>
		<input class="tj" ng-click="tjj()" type="button" value="提交"/>
	</div>
</div>
